
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/styles.css">
	<title>authentication</title>
</head>
<body>
<ul>
  <li><a class="active" href="./template.html">Home</a></li>
  <li><a href="admin_dashboard.html">Dashboard</a></li>
  <li><a href="./edit_user.html">Edit User</a></li>
  <li><a href="./edit_page.html">Edit Page</a></li>
  <li><a href="./admin_auth.html">Login</a></li>
</ul>
<div class="form-container">
	<header>Edit User</header>
	<br>
	<form class="form">
		<p class="email-header">Email</p>
		<input type="email" name="email" placeholder="www.new-email@email.com" required><br>
		<p class="password-header">Password</p>
		<input type="email" name="password" placeholder="password">
		<br>
		<input type="submit" name="submit">
	</form>
</div>

<footer class="edit-page">
	@trademark
</footer>
</body>
</html>