
<% include partials/header %>

<div class="edit-container">
	<header class="edit-header">Template Content</header>
	<br>
	<form class="form">
		<p class="email-header">Title</p>
		<input type="text" name="email" placeholder="Title" required><br>
		<p class="email-header">Content</p>
		<textarea class="edit-textarea" placeholder="Content">
			
		</textarea>
		<p class="email-header">URL</p>
		<input type="text" name="password" placeholder="URL">
		<br>
		<button class="template-choice">Template Choice</button> 
		<input class="edit-submit" type="submit" name="submit">
	</form>
</div>
<% include partials/footer %>
