<form>
  Single line text<br />
    <input type="text" />
    <input type="password" />
    <input type="email" required />
    <input type="number" />
    <input type="date" />
    <input type="tel" />
  <hr/>
  Multi line text<br/>
  <textarea></textarea>
  
  <hr />
  
  <label>First Name <input type="text" name="firstName" placeholder="John" /></label>
  <label>Last Name <input type="text" name="lastName" placeholder="Doe" /></label>
  <hr/>
  
  <input type="checkbox" id="a" /> <label for="a">AAAA</label><br/>
  <label><input type="checkbox" /> BBBB</label><br/>
    <input type="checkbox" /> CCCC<br/>
    <input type="checkbox" /> DDDD<br/>
  
  
  <hr/>
    <input type="radio" name="asdf" value="a" /> <label>AAAA</label><br/>
  <label><input type="radio" name="asdf" value="b" /> BBBB</label><br/>
    <input type="radio" name="asdf" value="c" /> CCCC<br/>
    <input type="radio" name="asdf" value="d" /> DDDD<br/>
  <hr />
  <select>
    
  </select>
  <hr />
  
  <hr />
  
  <button type="reset" class="btn btn-danger">Clear</button>
  
  <button type="submit" class="btn btn-success">Gimme</button>
</form>